<div id=<%= dom_id(deposit) %> class="deposit">
	<div id="deposit_top">
	<div id="deposit_cat"><h1><%= deposit.category %></h1></div>
	<div id="deposit_amnt"><%= number_to_currency(deposit.amount) %></div>
	</div>
	<div id="deposit_desc">
	<%= deposit.description %>
	</div>
	<div id="deposit_bottom">
	<%= danger_trash_button_link_to "Remove", deposit, :method => :delete, :remote => true %>
	</div>
</div>
