<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application","isotope"%>
    <%= javascript_include_tag "application","isotope.selector.js"%>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
	<div class="topbar">
	      <div class="topbar-inner">
	        <div class="container">
	          <a class="brand" href="#"><%= current_user.username %>'s Dashboard</a>
	          <ul class="nav">
	            <li class="active"><a href="#overview">Overview</a></li>
	            <li><a href="#about">Deposits</a></li>
	            <li><a href="#grid-system">Expenses</a></li>
	          </ul>
			  <div class="nav secondary-nav">
				<a href="#">Total funds:</a>
			  </div>
	        </div>
	      </div>
	    </div>
	
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
