<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application","isotope"%>
    <%= javascript_include_tag "application","isotope.selector.js","bootstrap-modal"%>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
	<div class="topbar">
	      <div class="topbar-inner">
	        <div class="container">
	          <a class="brand" href="#">
 	          <% if logged_in? %>
			  <%= current_user.username %>'s Dashboard
			  <% else %>
			  My Wallet
			  <% end %>
			  </a>
			  <% if logged_in? %>
	          <ul class="nav">
	            <li class="active"><%= link_to "Overview", overview_path %></li>
	            <li><a href="#about">Deposits</a></li>
	            <li><a href="#grid-system">Expenses</a></li>
	          </ul>
			  <% end %>
			
			  	<a href="#" class="safe add icon button btn" data-controls-modal="modal_here" id="show_form" data-backdrop="true">Add a transaction</a>
				<ul class="nav secondary-nav">
				<li><a href="#">Total funds:</a></li>
				<% if logged_in? %>
			    <li><%= link_to "Log out", logout_path %></li>
			    <% else %>
				<li><%= link_to "Log in", login_path %></li>
				<% end %>
			    </ul>
	        </div>
	      </div>
	    </div>
	
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
